<div class="container p-4">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Asignaturas registradas</h3>
            <p class="text-subtitle text-muted">Navbar will appear in top of the page.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#inlineForm">
                        Agregar notas
                        </button>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

<div class="container p-4">
  <div class="row">
    {{#each signature}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="col-md-4 float-right">
                        <a class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar nota" href="task/edit/{{id}}"><span class="fa-fw select-all fas"></span></dt></dl></a>
                        <a class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar nota" href="task/delete/{{id}}"><span class="fa-fw select-all fas"></span></dt></a>
                        </div><br>

                        <a href="">
                            <h3 class="card-title text-uppercase">
                                {{title}}
                            </h3>
                        </a>
                        <p class="m-2">{{description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"> </li>
                        <li class="list-group-item"><p><strong>Agregado hace:</strong> {{timeago create_at }}</p></li>
                        <li class="list-group-item"><p><strong>Te quedan:</strong> {{timeago create_at }} para resolver</p></li>
                         <li class="list-group-item"><p><strong>Estado:</strong> {{statusnombre}}</p></li>
                    </ul>
                    <a class="btn btn-success" href="/task/finishtask/{{id}}">Finalizar</a>
                </div>
            </div>
            {{else}}
                <div class="col-md-8 mx-auto">
                    <div class="card card body tex-center">
                        <center><p><strong>Esta asignatura aun no tiene apuntes, crea uno!</strong></p></center>
                        <a class="btn btn-success" href="/add/{{id}}">Crear ahora</a>
                    </div>
            </div>
    {{/each}}
  </div>
</div>

